<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Paciente</title>
    <link rel="stylesheet" th:href="@{/css/registro.css}" />
</head>
<body class="register-page">
<h2>Registro de Paciente</h2>
<form th:action="@{/registrarPaciente}"
      th:object="${usuario}"
      method="post">

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/><br/><br/>

    <label>Apellido:</label>
    <input type="text" th:field="*{apellido}" required/><br/><br/>

    <label>Correo:</label>
    <input type="email" th:field="*{correo}" required/><br/><br/>

    <label>Contraseña:</label>
    <input type="password" th:field="*{password}" required/><br/><br/>

    <label>Fecha nacimiento:</label>
    <input type="date" th:field="*{fechaNacimiento}" required/><br/><br/>

    <label>Género:</label>
    <select th:field="*{genero}">
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        <option value="Otro">Otro</option>
    </select><br/><br/>

    <button type="submit">Registrar</button>
</form>

<p>¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión</a></p>
</body>
</html>
