<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>NeuroPrevia</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Bienvenido</h1>
            </div>
        </div>
        <div sec:authorize="isAnonymous()">
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <p>Debes iniciar sesi&oacute;n para utilizar las funciones del sistema</p>
                </div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="row">
                <p class="text-center" th:text="'Sesión iniciada como: ' + ${#authentication.name}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>