<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(~{::title}, ~{::body})">
<head>
    <title>Inicio Paciente</title>
    <link rel="stylesheet" th:href="@{/css/paciente.css}" />
</head>
<body class="bg-light">
<div class="container-fluid" th:style="'background-image: url(' + @{/img/psicologia.jpg} + '); background-size: cover; background-position: center; height: 100vh;'">
    <div class=" row d-flex justify-content-center align-items-center vh-100">
        <div class="text-center px-3">
            <h1 class="home-title mb-3">
                Bienvenido, <span th:text="${usuario.nombre}">Usuario</span>!
            </h1>
        </div>
    </div>

</div>

</body>
</html>
