<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::body})">
<head>
    <title>Resultado del Examen</title>
</head>
<body>
<div class="container mt-2 col-lg-8">
    <div class="card">
        <h2>Resultado del Examen</h2>
        <p><strong>Fecha:</strong> <span th:text="${#temporals.format(r.fechaRealizacion,'dd/MM/yyyy HH:mm')}"></span></p>
        <p><strong>Puntuación:</strong> <span th:text="${r.resultadoTotal}"></span></p>
        <p><strong>Interpretación:</strong> <span th:text="${r.interpretacion}"></span></p>
        <a th:href="@{/paciente/pdf/{id}(id=${r.id})}">Descargar Informe en PDF</a>
    </div>
</div>
</body>
</html>